<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rokkitt">
  <style>
    body {
      font-family: "Rokkitt", sans-serif;
    }
  </style>
  <title>Vilca Events</title>
</head>

<body>
  <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item is-size-1 has-text-weight-semibold" href="/">
        <h1>Vilca Events</h1>
      </a>

      <div class="navbar-item" id="google_translate_element"></div>
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement(
            { pageLanguage: 'en' },
            'google_translate_element'
          );
        }
      </script>
      <script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
        </script>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

    </div>

    <a class="navbar-item" href="/dashboard">
      My Events
    </a>

    <a class="navbar-item" href="/create">
      Create an Event
    </a>

    <a class="navbar-item" href="/savedEvents">
      Saved Events
    </a>



    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#if loggedIn}}

          <a class="button is-outlined js-modal-trigger" id="logout" data-target="modal-js-example">
            <strong>Logout</strong>
          </a>
          {{else}}
          <a href="/login" class="button is-outlined" id="login">
            <strong>Login</strong>
          </a>
          {{/if}}
        </div>
      </div>
    </div>
    </div>
  </nav>
  <main class="container container-fluid mt-5">
    {{{body}}}
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  <div id="modal-js-example" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content">
      <div class="box">
        <p class="is-size-4 is-flex is-justify-content-center">Thanks for visiting! See ya soon!</p>
        <!-- Your content -->
      </div>
    </div>

    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  {{/if}}
  <script src="https://kit.fontawesome.com/2908dfc8c0.js" crossorigin="anonymous"></script>
</body>

</html>