<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Vilca Events</title>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item is-size-1" href="/">
        <h1>Vilca Events</h1>
      </a>

      <div class="navbar-item" id="google_translate_element"></div>
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement(
            { pageLanguage: 'en' },
            'google_translate_element'
          );
        }
      </script>
      <script type="text/javascript" 
      src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
      </script>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

    </div>

    <a class="navbar-item" href="/dashboard">
      My Events
    </a>

    <a class="navbar-item" href="/create">
      Create an Event
    </a>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#if loggedIn}}
          <a href="/logout" class="button is-primary" id="logout">
            <strong>Logout</strong>
          </a>
          {{else}}
          <a href="/login" class="button is-primary" id="login">
            <strong>Login</strong>
          </a>
          {{/if}}
        </div>
      </div>
    </div>
    </div>
  </nav>
  <main class="container container-fluid mt-5">
    {{{body}}}
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>