<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Vilca Events</title>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Upcoming Events
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Create an Event
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
           Create
          </a>
          <a class="navbar-item">
            Update
          </a>
          <a class="navbar-item">
            Delete
          </a>
          <hr class="navbar-divider">
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#if loggedIn}}
          <a href="/logout" class="button is-primary" id="logout">
            <strong>Login</strong>
          </a>
          {{else}}
           <a href="/logout" class="button is-primary" id="login">
            <strong>Logout</strong>
          </a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>
<main class="container container-fluid mt-5">
  {{{body}}} 
</main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>