<form class="new-event-form">
    <div class="columns card m-5">
<body>
        <div class="card-content column is-two-thirds is-centered">
            <p>Create an Event</p>
            <input class="card-content input is-small" id="image" type="text" placeholder="Enter a link to an image for your event">
            <input class="card-content input is-small" id="title" type="text" placeholder="Event Title">
            <input class="card-content input is-small" id="date" type="text" placeholder="Event Date">
            <input class="card-content input is-small" id="time" type="text" placeholder="Event Time">
            <input class="card-content input is-small" id="description" type="text" placeholder="Event Description">
            <input class="card-content input is-small" id="location" type="text" placeholder="Event Location">
            <input class="card-content input is-small" id="email" type="text" placeholder="Email">
            <input class="card-content input is-small" id="social" type="text" placeholder="Social">

            <button>Submit</button>

        </div>
    </div>
</form>
