{{#if loggedIn}}
<form>
    <div class="columns card m-5">
        <div class="card-content column is-two-thirds is-centered">
            <p>Create an Event</p>
            <input class="card-content input is-small" id="image" type="text" placeholder="Enter a link to an image for your event">
            <input class="card-content input is-small" id="title" type="text" placeholder="EventTitle">
            <input class="card-content input is-small" id="date" type="text" placeholder="Event Date">
            <input class="card-content input is-small" id="time" type="text" placeholder="Event Time">
            <textarea class="textarea input is-small" id="description" type="text" placeholder="Event Description"></textarea>
            <input class="card-content input is-small" id="location" type="text" placeholder="Event Location">
            <input class="card-content input is-small" id="email" type="text" placeholder="Email">
            <input class="card-content input is-small" id="social" type="text" placeholder="Social">

            <button id="createEvent">Submit</button>

        </div>
    </div>
</form>
{{/if}}
<script src="/js/eventHandler.js"></script>