<body>
    <div class="columns card m-5">
        <div class="card-content column is-two-thirds is-centered">
            <p>Create an Event</p>
            <input class="card-content input is-small" id="first-name" type="text" placeholder="First Name">
            <input class="card-content input is-small" id="last-name" type="text" placeholder="Last Name">
            <input class="card-content input is-small" id="event-title" type="text" placeholder="Event Title">
            <input class="card-content input is-small" id="event-location" type="text" placeholder="Event Location">
            <input class="card-content input is-small" id="event-time" type="text" placeholder="Event Time">
            <input class="card-content input is-small" id="email" type="text" placeholder="Email">
            <input class="card-content input is-small" id="social" type="text" placeholder="Social">
        </div>
    </div>
</body>