<div class="columns is-multiline">
  <div class="column is-half login-card">
    <h2 class="page-title is-title is-size-4">Login to your account</h2>
    <form class="column form login-form">
      <div class="form-group">
        <label class="label" for="email-login">Email</label>
        <input class="form-input input is-hovered is-small is-one-quarter" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label class="label" for="password-login">Password</label>
        <input class="form-input input is-hovered is-small is-one-quarter" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary button is-primary is-hovered mt-3" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="column is-half login-card">
    <h2 class="page-title is-size-4">Create an account</h2>
    <form class="column form signup-form">
      <div class="form-group">
        <label class="label" for="username-signup">Username</label>
        <input class="form-input input is-hovered is-small is-one-quarter" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label class="label" for="email-signup">Email</label>
        <input class="form-input input is-hovered is-small is-one-quarter" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label class="label" for="password-signup">Password</label>
        <input class="form-input input is-hovered is-small is-one-quarter" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary button is-primary is-hovered mt-3" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
